.header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    z-index: 1;
    align-items: center;
    background-color: rgba(91, 226, 159, 0.434);
}

.title {
    color: black;
}

.header-row {
    width: 100%;
}

.header-help {
    text-align: right;
}

.solve-button {
    padding-right: 50px;
}